/* styles.css */

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #817878;
  }
  
  /* Header styles */
  header {
    background-color: #080808;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  /* Main styles */
  main {
    padding: 1rem;
  }
  
  /* Section styles */
  section {
    margin-bottom: 1.5rem;
  }
  
  section h2 {
    margin-bottom: 0.5rem;
  }
  
  /* Image styles */
  #catImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    header h1 {
      font-size: 1.5rem;
    }
  }
  .gallery-title {
    text-align: center;
    position: center;
    top: 60px; /* Adjust top position as needed */
    width: 100%;
  }
  
  canvas#catCanvas {
    display: block;
    margin: 0 auto;
    position: relative;
  }
  
  /* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: left; 
  top: 0; 
  left: 0; 
}

header h1 {
  font-size: 1.5rem;
}
